body {

    font-family:Arial,sans-serif;
    margin:20px;
    background-color: #3351d7
}
h1{
    color:#4caf50;
}
.recepie{
    background-color:rgb(186, 251, 7);
    padding:15px;
    border-radius:5px;
    margin-bottom:10px;
    box-shadow: 0 2px 5px rgba(103, 102, 102, 0.1);
}
.form-container {
    margin-bottom:20px;
}
